/* main.css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/* for debuging */
	/*border: 1px solid #00ff00;*/
	margin: 10px;
	font-size: 1.0em;
}

body {
    background: none repeat scroll 0 0 #f3f3f3;
}

h1, h2, h3 {
	font-family: verdana;
	font-size: 2.0em;
	color: #070;
}

h1 {
	padding: 6px;
	margin: 0;
	box-shadow: 3px 3px 0 #e6e6e6;
	background-color: #d0d0d0;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
	font-style: italic;
	padding-top: 20px;
}

h5 {
	font-family: "Lucida Console", Monaco, monospace;
}

ol, ul {
	list-style-type: circle;
	margin-left: 30px;
}

ul {
	/*width: 450px;*/
	font-family: Trebuchet MS,sans-serif;
}

.page {
	display: block;
	/*width: 90%;*/
	min-width: 400px;
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}


.sidebar, .main-content {
	background-color: #fff;
}

.sidebar_image {
	width: 300px;
	margin-left: 25px;
}

.sidebar {
	display: block;
	width: 400px;
	float: left;
	border: 1px solid #e6e6e6;
	box-shadow: 2px 2px 0 #e6e6e6;
}

.sidebar p.centered {
	text-align: center;
	font-family: Trebuchet MS,sans-serif;
}

.main {
	display: inline-block;
	width: 400px;
	float: left;
}

.main-content {

	border: 1px solid #e6e6e6;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0;
	margin-bottom: 30px	;
  box-shadow: 2px 2px 0 #e6e6e6;
}

.footer {
	clear: both;
	min-width: 400px;
	max-width: 815px;
}


.footer { 
  background: none repeat scroll 0 0 #444;
  padding: 5px;
  color: #ddd;
  text-shadow: 1px 1px 1px #222;
  box-shadow: 2px 2px 0 #e6e6e6;
 }

 .menu { 
  background: none repeat scroll 0 0 #444;
  padding: 5px;
  color: #ddd;
  text-shadow: 1px 1px 1px #222;
  box-shadow: 2px 2px 0 #e6e6e6;
  min-width: 400px;
	max-width: 815px;
 }

.menu p {
  display: inline;
}

